In [2]:
# importation of depedencies

import pandas as pd 
import numpy as np

## Loading data

In [6]:
Kma_data= pd.read_csv("official_weather_data/weather_train.csv")
Kma_data.rename(columns={"Unnamed: 0": "id"}, inplace=True)

In [7]:
Kma_data

,id,date,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,sunshine,winddirection,windspeed,rainfall
0,0,1,1014.0,9.9,5.5,1.8,-1.1,63.5,45.0,2.3,70,4.0,0.0
1,1,2,1005.8,6.9,4.2,-0.9,-0.2,74.3,55.0,2.2,270,7.6,1.0
2,2,3,1012.1,0.1,-2.2,-4.6,-11.1,54.1,8.0,5.4,290,5.9,0.0
3,3,4,1014.2,4.3,0.3,-4.3,-9.9,48.6,38.0,1.6,50,3.0,0.0
4,4,5,1008.1,4.6,2.8,0.1,-0.1,83.6,100.0,0.0,70,5.2,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9127,9127,362,1014.8,1.8,-2.6,-5.9,-11.4,51.4,23.0,7.3,270,5.8,0.0
9128,9128,363,1013.1,1.1,-3.0,-6.7,-12.5,48.3,11.0,8.3,270,5.8,0.0
9129,9129,364,1013.5,6.1,1.1,-4.2,-6.9,56.1,51.0,6.5,270,2.8,0.0
9130,9130,365,1007.3,10.1,5.5,1.9,0.1,68.5,74.0,2.6,50,6.9,0.0
9131,9131,366,1010.1,4.9,0.6,-2.0,-10.0,45.8,0.0,9.0,270,5.0,0.0

In [8]:
Kma_data.isna().sum()
# We can see that there's a missing data nan

id               0
date             0
pressure         0
maxtemp          0
temparature      0
mintemp          0
dewpoint         0
humidity         0
cloud            0
sunshine         0
winddirection    0
windspeed        0
rainfall         0
dtype: int64

### Normalisation

In [10]:
#Non-features columns ; NF_columns  -> ['id','day',"rainfall"]
features=Kma_data.drop(columns=['id','rainfall'])
#Target ; ["rainfall"]
targets=Kma_data["rainfall"]

x=features.values
means=x.mean(axis=0) #mean for each columns
std=x.std(axis=0)
x_normalize= (x-means)/std

In [22]:
data_train_n=Kma_data.copy()
data_train_n[features.columns]=x_normalize
data_train_n.to_csv("official_weather_data/kma_train.csv",index=False)
data_train_n

,id,date,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,sunshine,winddirection,windspeed,rainfall
0,0,-1.727310,0.627599,-0.727087,-0.723225,-0.695913,-0.524695,0.137597,-0.107539,-0.901998,-1.059927,-0.638778,0.0
1,1,-1.717827,0.002677,-1.007530,-0.846763,-0.949539,-0.449288,0.863480,0.210894,-0.927396,0.808150,1.825426,1.0
2,2,-1.708344,0.482800,-1.643202,-1.454951,-1.297100,-1.362541,-0.494190,-1.285743,-0.114649,0.994958,0.661774,0.0
3,3,-1.698860,0.642841,-1.250581,-1.217378,-1.268920,-1.262000,-0.863852,-0.330443,-1.079786,-1.246735,-1.323279,0.0
4,4,-1.689377,0.177960,-1.222537,-0.979804,-0.855604,-0.440910,1.488546,1.643844,-1.486160,-1.059927,0.182624,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9127,9127,1.696200,0.688567,-1.484284,-1.492963,-1.419216,-1.387677,-0.675661,-0.808093,0.367920,0.808150,0.593324,0.0
9128,9128,1.705683,0.559010,-1.549721,-1.530975,-1.494365,-1.479840,-0.884016,-1.190213,0.621904,0.808150,0.593324,0.0
9129,9129,1.715166,0.589494,-1.082315,-1.141354,-1.259526,-1.010646,-0.359767,0.083521,0.164733,0.808150,-1.460179,0.0
9130,9130,1.724650,0.116992,-0.708391,-0.723225,-0.686520,-0.424153,0.473654,0.815918,-0.825803,-1.246735,1.346276,0.0
9131,9131,1.734133,0.330380,-1.194492,-1.188869,-1.052868,-1.270378,-1.052044,-1.540489,0.799692,0.808150,0.045723,0.0

#### test norm

In [19]:
Kma_data_t= pd.read_csv("official_weather_data/weather_test.csv")
Kma_data_t.rename(columns={"Unnamed: 0": "id"}, inplace=True)

In [20]:
Kma_data_t

,id,date,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,sunshine,winddirection,windspeed,rainfall
0,0,1,1011.0,8.9,2.6,-2.5,-3.6,64.3,26.0,5.6,250,5.1,0.0
1,1,2,1013.8,6.0,0.5,-2.9,-9.9,48.8,8.0,9.0,270,4.9,0.0
2,2,3,1014.9,3.2,-1.1,-5.1,-10.1,52.0,31.0,7.7,270,4.6,0.0
3,3,4,1015.3,5.7,-0.1,-5.4,-9.9,49.6,14.0,7.9,50,3.5,0.0
4,4,5,1008.4,2.5,1.2,-0.7,-1.2,85.0,94.0,0.0,50,3.5,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,150,151,1000.3,27.0,21.5,16.4,11.7,55.0,61.0,7.3,50,3.6,0.0
151,151,152,998.6,29.3,22.6,17.0,13.3,57.8,35.0,10.9,270,4.7,0.0
152,152,153,993.2,23.1,21.0,19.2,13.9,64.3,98.0,0.0,270,3.5,0.0
153,153,154,989.2,25.3,20.9,17.0,11.6,56.9,16.0,11.9,250,5.9,0.0
154,154,155,993.4,25.3,20.5,15.2,10.6,55.3,4.0,12.1,250,7.8,0.0

In [21]:
X=Kma_data_t.drop(columns=['id','rainfall'])
f=X.values
m,s=f.mean(axis=0),f.std(axis=0)
f_normalise=(X-m)/s
data_test_n=Kma_data_t.copy()
data_test_n[X.columns]=f_normalise
data_test_n.to_csv("official_weather_data/kma_test.csv",index=False)
data_test_n

,id,date,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,sunshine,winddirection,windspeed,rainfall
0,0,-1.720912,0.602865,-0.455100,-0.628280,-0.741405,-0.395073,0.328948,-0.436094,-0.348016,0.561824,-0.042543,0.0
1,1,-1.698563,0.952096,-0.771230,-0.872641,-0.790301,-1.091945,-0.876508,-1.016028,0.486779,0.763405,-0.194134,0.0
2,2,-1.676213,1.089293,-1.076458,-1.058820,-1.059229,-1.114068,-0.627640,-0.275001,0.167593,0.763405,-0.421521,0.0
3,3,-1.653864,1.139183,-0.803933,-0.942458,-1.095901,-1.091945,-0.814291,-0.822716,0.216698,-1.453981,-1.255272,0.0
4,4,-1.631514,0.278580,-1.152766,-0.791187,-0.521373,-0.129598,1.938815,1.754768,-1.722973,-1.453981,-1.255272,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,150,1.631514,-0.731694,1.517985,1.570963,1.568931,1.297331,-0.394326,0.691556,0.069381,-1.453981,-1.179476,0.0
151,151,1.653864,-0.943727,1.768709,1.698961,1.642275,1.474315,-0.176566,-0.146127,0.953282,0.763405,-0.345725,0.0
152,152,1.676213,-1.617243,1.092845,1.512782,1.911203,1.540683,0.328948,1.883642,-1.722973,0.763405,-1.255272,0.0
153,153,1.698563,-2.116144,1.332668,1.501146,1.642275,1.286270,-0.246560,-0.758279,1.198810,0.561824,0.563821,0.0
154,154,1.720912,-1.592298,1.332668,1.454601,1.422243,1.175655,-0.370994,-1.144902,1.247916,0.561824,2.003936,0.0