In [2]:
# importation of depedencies

import pandas as pd 
import numpy as np

## Loading data

In [6]:
Kma_data= pd.read_csv("official_weather_data/weather_train.csv")
Kma_data.rename(columns={"Unnamed: 0": "id"}, inplace=True)

In [7]:
Kma_data

,id,date,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,sunshine,winddirection,windspeed,rainfall
0,0,1,1014.0,9.9,5.5,1.8,-1.1,63.5,45.0,2.3,70,4.0,0.0
1,1,2,1005.8,6.9,4.2,-0.9,-0.2,74.3,55.0,2.2,270,7.6,1.0
2,2,3,1012.1,0.1,-2.2,-4.6,-11.1,54.1,8.0,5.4,290,5.9,0.0
3,3,4,1014.2,4.3,0.3,-4.3,-9.9,48.6,38.0,1.6,50,3.0,0.0
4,4,5,1008.1,4.6,2.8,0.1,-0.1,83.6,100.0,0.0,70,5.2,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9127,9127,362,1014.8,1.8,-2.6,-5.9,-11.4,51.4,23.0,7.3,270,5.8,0.0
9128,9128,363,1013.1,1.1,-3.0,-6.7,-12.5,48.3,11.0,8.3,270,5.8,0.0
9129,9129,364,1013.5,6.1,1.1,-4.2,-6.9,56.1,51.0,6.5,270,2.8,0.0
9130,9130,365,1007.3,10.1,5.5,1.9,0.1,68.5,74.0,2.6,50,6.9,0.0
9131,9131,366,1010.1,4.9,0.6,-2.0,-10.0,45.8,0.0,9.0,270,5.0,0.0

In [8]:
Kma_data.isna().sum()
# We can see that there's a missing data nan

id               0
date             0
pressure         0
maxtemp          0
temparature      0
mintemp          0
dewpoint         0
humidity         0
cloud            0
sunshine         0
winddirection    0
windspeed        0
rainfall         0
dtype: int64

### Normalisation

In [10]:
#Non-features columns ; NF_columns  -> ['id','day',"rainfall"]
features=Kma_data.drop(columns=['id','rainfall'])
#Target ; ["rainfall"]
targets=Kma_data["rainfall"]

x=features.values
means=x.mean(axis=0) #mean for each columns
std=x.std(axis=0)
x_normalize= (x-means)/std

In [11]:
data_train_n=Kma_data.copy()
data_train_n[features.columns]=x_normalize
data_train_n

,id,date,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,sunshine,winddirection,windspeed,rainfall
0,0,-1.727310,0.627599,-0.727087,-0.723225,-0.695913,-0.524695,0.137597,-0.107539,-0.901998,-1.059927,-0.638778,0.0
1,1,-1.717827,0.002677,-1.007530,-0.846763,-0.949539,-0.449288,0.863480,0.210894,-0.927396,0.808150,1.825426,1.0
2,2,-1.708344,0.482800,-1.643202,-1.454951,-1.297100,-1.362541,-0.494190,-1.285743,-0.114649,0.994958,0.661774,0.0
3,3,-1.698860,0.642841,-1.250581,-1.217378,-1.268920,-1.262000,-0.863852,-0.330443,-1.079786,-1.246735,-1.323279,0.0
4,4,-1.689377,0.177960,-1.222537,-0.979804,-0.855604,-0.440910,1.488546,1.643844,-1.486160,-1.059927,0.182624,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9127,9127,1.696200,0.688567,-1.484284,-1.492963,-1.419216,-1.387677,-0.675661,-0.808093,0.367920,0.808150,0.593324,0.0
9128,9128,1.705683,0.559010,-1.549721,-1.530975,-1.494365,-1.479840,-0.884016,-1.190213,0.621904,0.808150,0.593324,0.0
9129,9129,1.715166,0.589494,-1.082315,-1.141354,-1.259526,-1.010646,-0.359767,0.083521,0.164733,0.808150,-1.460179,0.0
9130,9130,1.724650,0.116992,-0.708391,-0.723225,-0.686520,-0.424153,0.473654,0.815918,-0.825803,-1.246735,1.346276,0.0
9131,9131,1.734133,0.330380,-1.194492,-1.188869,-1.052868,-1.270378,-1.052044,-1.540489,0.799692,0.808150,0.045723,0.0

#### test norm

In [13]:
Kma_data_t= pd.read_csv("official_weather_data/weather_test.csv").rename(columns={"Unnamed: 0": "id"}, inplace=True)

In [ ]:
X=Kma_data_t.drop(columns=['id','rainfall'])
f=X.values
m,s=f.mean(axis=0),f.std(axis=0)
f_normalise=(X-m)/s
data_test_n=Kma_data_t.copy()
data_test_n[X.columns]=f_normalise
data_test_n.to_csv("data/test_processed.csv",index=False)
data_test_n

,id,day,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,sunshine,winddirection,windspeed
0,2190,1,1.089945,-1.565186,-1.547695,-1.821155,-1.032049,1.706070,1.263248,-1.007591,-0.660957,0.182525
1,2191,2,0.544699,-1.565186,-1.414980,-1.221217,-0.994926,1.834056,1.263248,-1.007591,-0.660957,1.288280
2,2192,3,1.889640,-2.676564,-2.571492,-2.459799,-2.145743,0.426211,1.095855,-1.007591,-0.783531,-0.561346
3,2193,4,1.707891,-1.018317,-1.263307,-1.337334,-2.034373,-0.981635,-1.749836,0.944687,-1.028679,2.826284
4,2194,5,1.580667,-1.812159,-1.926879,-3.040384,-2.999575,-1.877537,-1.526645,1.522121,-1.028679,-0.310038
...,...,...,...,...,...,...,...,...,...,...,...,...
725,2915,361,1.326219,-1.441699,-1.206429,-1.163159,-1.254788,1.706070,1.040057,-1.007591,-1.028679,1.187757
726,2916,362,-0.327696,-0.559653,-1.111633,-1.182511,-0.827871,-0.597677,0.203089,-0.567641,-0.783531,0.272996
727,2917,363,1.671542,-0.947753,-1.035796,-0.988983,-0.920679,1.194127,1.095855,-1.007591,-0.660957,-0.058730
728,2918,364,0.163026,-0.947753,-0.751408,-0.466456,-0.122532,1.450099,0.928461,-1.007591,-0.660957,1.710477
729,2919,365,1.344394,-0.736062,-0.978918,-0.988983,-1.329034,-0.469691,0.705270,-0.952597,-0.538383,2.826284

### Imbalanced Dataset

In [12]:
targets.value_counts()

rainfall
0.0    6387
1.0    2745
Name: count, dtype: int64

In [60]:
from imblearn.over_sampling import SMOTE


#update the value of features and targets after normalize 
features=data_train_n.drop(columns=['id','day','rainfall'])
targets=data_train_n["rainfall"]



smote = SMOTE(random_state=42)
X_resampled, y_resampled = smote.fit_resample(features.values, targets.values)

In [58]:
y_r = pd.Series(y_resampled,name="rainfall")
y_r.value_counts()

rainfall
1    1650
0    1650
Name: count, dtype: int64

In [96]:
data_train_VF= pd.DataFrame(X_resampled,columns=features.columns)
data_train_VF['rainfall']= y_resampled
data_train_VF['id']=np.arange(len(data_train_VF))+1
data_train_VF['day']=np.arange(len(data_train_VF)) % 366 +1 

#reorde columns and save it 
columns =['id','day'] + list(features.columns) +  ["rainfall"]
data_train_VF = data_train_VF[columns]
data_train_VF.to_csv("data/train_processed.csv",index=False)

In [97]:
data_train_VF

,id,day,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,sunshine,winddirection,windspeed,rainfall
0,1,1,0.671702,-0.913809,-0.642199,-0.448815,-0.199457,0.636434,0.681269,-0.729397,-0.560901,-0.465291,1
1,2,2,1.043116,-1.798289,-1.350846,-1.259418,-0.956001,1.662224,0.847728,-1.032804,-0.685925,0.009629,1
2,3,3,1.856688,-1.232222,-1.504067,-1.496667,-2.109731,-0.902250,-1.593680,1.256536,-0.435876,-0.374349,1
3,4,4,-0.035752,-1.462187,-1.178472,-1.041939,-0.691210,1.662224,1.069675,-1.032804,-0.560901,1.393971,1
4,5,5,1.449902,-0.896120,-1.063556,-1.378043,-2.052990,-3.851394,-1.704654,-0.039837,-0.810950,0.302665,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3295,3296,2,0.896361,-0.173770,-0.220368,-0.056342,-0.682610,-0.089462,-0.909499,-0.652118,-0.748952,0.660752,0
3296,3297,3,1.614381,-1.623131,-1.710886,-1.807024,-1.973620,-1.094424,-1.688022,1.275851,-1.061000,-0.934382,0
3297,3298,4,-0.910964,0.912511,0.916527,0.891618,0.909954,0.101534,-0.315840,1.454347,0.241032,-0.326925,0
3298,3299,5,-0.952384,0.979646,1.036035,0.931877,0.857713,-0.849226,-1.584084,1.919338,1.586145,-1.007147,0
3299,3300,6,0.484965,-0.367489,-1.005652,-0.982627,-0.796774,-2.262018,-0.520076,0.475885,-0.749894,1.491965,0

### Dimension Reduction 

> Apply Principal Component  Analysis

In [118]:
from sklearn.decomposition import PCA

train=pd.read_csv("data/train_processed.csv",dtype=np.float32)
features=train.drop(columns=['id','day','rainfall'])
targets=train['rainfall']

pca = PCA(n_components=5,svd_solver="full") # from 10 to 5 

feat_pca=pca.fit_transform(features)
pca_df = pd.DataFrame(feat_pca, columns=["PC1", "PC2","PC3","PC4","PC5"])
pca_df["rainfall"] = targets.values

pca_df.to_csv("data/train_pca.csv",index=False)

In [117]:
pca_df

           PC1       PC2       PC3       PC4       PC5  rainfall
0    -1.681271  1.401096 -0.815937 -0.048957  0.113072       1.0
1    -3.328763  1.886631 -0.655738 -0.097774  1.136976       1.0
2    -3.002949 -2.503245 -0.580183  0.480613  0.891330       1.0
3    -2.755050  2.368489  0.803139 -0.369434  0.995535       1.0
4    -2.930984 -3.290252  0.346370  1.098036 -1.907488       0.0
...        ...       ...       ...       ...       ...       ...
3295 -1.315982  0.022391  0.418847 -0.649037 -0.113708       0.0
3296 -3.310956 -2.742178 -1.245059  0.196968  0.695523       0.0
3297  2.140737  0.123733 -0.013056 -0.527242  0.164404       0.0
3298  3.061349 -1.349540 -0.194924  0.679204  0.526757       0.0
3299 -1.929750 -1.488878  1.425282  0.211900 -1.243101       0.0

[3300 rows x 6 columns]

### Model